* {
    margin: 0;
    padding: 0;
}

/* resolve height collapse */
.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
    /* 解决ie浏览器的兼容问题 */
    height: 0;
    overflow: hidden;
    /* 隐藏content中的内容 */
    visibility: hidden;
}

/* 主容器 */
.mv-card {
    width: 240px;
    margin: 100px auto;
    box-shadow: 0px 0px 2px 2px #cdcdcd;
    border-radius: 5px;
}

/* 文字内容区 */
.mv-card .desc {
    padding: 10px 20px;
}

/* 标题 */
.mv-card .title {
    color: #717171;
    font-size: 20px;
}

/* 分类 */
.mv-card .category {
    color: #baacb1;
    font-size: 12px;
    line-height: 40px;
}

.mv-card .category .fa-location-dot {
    margin-right: 10px;
}

.mv-card .remark {
    color: #b7b1b2;
    font-size: 12px;
}

/* 评分社交 */

.mv-card .media li {
    list-style-type: none;
    float: left;
    line-height: 60px;
    margin-left: 5px;
}

.mv-card .media ul {
    padding: 0px 5px;
}

.mv-card .media {
    border: 2px #efefef solid;
    border-left: none;
    border-right: none;
    margin-bottom: 2px;
}

.mv-card .score {
    float: left;
    margin-left: 10px;
    font-size: 10px;
    color: #acaaaa;
    /* color: #acaaaa; */
}

.mv-card .share {
    font-size: 10px;
    float: right;
    margin: 0 10px;
    color: #acaaaa;
}

.mv-card .score .highlight  {
    color: palegoldenrod;
}

