* {
    margin: 0px;
    padding: 0px;
}

/* resolve height collapse */
.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
    /* 解决ie浏览器的兼容问题 */
    height: 0;
    overflow: hidden;
    /* 隐藏content中的内容 */
    visibility: hidden;
}

body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    min-width: 1226px;
}

/* 中间容器显示内容的宽度 */
.content {
    /* 固定容器的宽度 */
    width: 1226px;
    /* 设置容器水平居中 */
    margin: 0 auto;
}