/* reset default style */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 700px;
}

#header {
    background-color: pink;
}

#main {
    height: 400px;
}

#nav {
    width: 200px;
    background-color: hotpink;
}

#center {
    background-color: deeppink;
    width: 800px;
}

#nav, #center {
    float: left;
    height: 100%;
}

#footer {
    background-color: lightpink;
}

#header, #footer {
    height: 150px;
}

#header, #main, #footer {
    margin: 0 auto;
    width: 1000px;
}