* {
    margin: 0;
    padding: 0;
}

a:link, a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

#root {
    width: 200px;
    background-color: gainsboro;
}

.lineNews {
    margin: 5px 0 5px 10px;
}