/* reset default style */
* {
    margin: 0;
    padding: 0;
}

.footer {
    width: 1280px;
    background-color: #f4f4f4;
    margin: 0 auto;
}

ul {
    display: inline-block;
    margin-right: 170px;
}

ul li {
    list-style-type: none;
    top: 0;
}

ul li:first-child {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}