* {
    margin: 0;
    padding: 0;
}

.title {
    color: rgb(110, 110, 110);
    height: 40px;
    margin: 10px 0 10px 10px;
}

.item {
    height: 80px;
    width: 80px;
    display: inline-block;
    text-align: center;
}

.item:hover {
    background-color: deeppink;
}

.itemImage {
    height: 30px;
    width: 30px;
}

.itemFont {
    display: block;
}