/* 导航部分 */
.topbar {
    background-color: #333333;
    font-size: 13px;
    line-height: 40px;
}

/* 指定导航栏中的每个元素之间的竖线间隔样式 */
.topbar .line-space {
    color: #424242;
    font-size: 13px;
    margin: 0 8px;
}

/* 指定导航栏中的每个a元素样式 */
.topbar a {
    text-decoration: none;
    color: #b0b0b0;
} 

/* 指定导航栏中的所有li样式 */
.topbar li {
    list-style-type: none;
}

/* 指定所有li鼠标移入效果 */
.topbar li a:hover {
    color: #fff;
}

/* 服务列表容器 */
.topbar .services {
    float: left;
}

/* 下载app */
.topbar .services .download-app {
    position: relative;
}

.topbar .services .download-app-content {
    position: absolute;
    left: -50%;
    top: 40px;
    height: 148px;
    width: 124px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.topbar .download-app-qrcode {
    display: inline-block;
    height: 148px;
    width: 124px;
    /* background-color: aqua; */
    /* background: url(../images/download-app.png) 90px no-repeat center; */
    background-image: url(../images/download-app.png);
    background-size: 90px;
    background-repeat: no-repeat;
    /* background-position: center; */

}

.topbar .download-app-remark {
    position: absolute;
}

.topbar .services .download-app-content span, .topbar .services .download-app span:hover {
    color: black;
}



.topbar .services li {
    float: left;
}

/* 购物车容器 */
.topbar .shop-cart {
    float: right;
    margin-left: 25px;
    background-color: #424242;
    text-align: center;
    position: relative;
}

.topbar .shop-cart .cart-title {
    padding: 0 25px;
}

.topbar .shop-cart:hover * {
    color: #ff6700;
}

.topbar .shop-cart:hover > ul {
/* .topbar .shop-cart > ul { */
    color: #ff6700;
    background-color: #fff;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


.topbar .cart-item {
    display: none;
    position: absolute;
    width: 397px;
    height: 100px;
    background-color: #ff6700;
    right: 0;
}

.topbar .fa-cart-shopping {
    color: #b0b0b0;
}

.topbar .shop-cart .cart-item {
    line-height: 100px;
}

/* 用户信息容器 */
.topbar .user-info {
    float: right;
}

.topbar .user-info li {
    float: left;
}
/* ********************************************顶部导航***********************************************8 */