/* 导航部分 */
.topbar {
    background-color: #333333;
    font-size: 13px;
    line-height: 40px;
}

/* 指定导航栏中的每个元素之间的竖线间隔样式 */
.topbar .line-space {
    color: #424242;
    font-size: 13px;
    margin: 0 8px;
}

/* 指定导航栏中的每个a元素样式 */
.topbar a {
    text-decoration: none;
    color: #b0b0b0;
} 

/* 指定导航栏中的所有li样式 */
.topbar li {
    list-style-type: none;
}

/* 指定所有li鼠标移入效果 */
.topbar li a:hover {
    color: #fff;
}

/* 服务列表容器 */
.topbar .services {
    float: left;
}

/* 下载app */
.topbar .services .download-app {
    position: relative;
}

/* 下载app的小三角 */
.topbar .services .download-app:hover .download-app-nav::after {
    display: block;
    position: absolute;
    overflow: auto;
    bottom: 0;
    left: 18px;
    content: '';
    width: 0px;
    height: 0px;
    /* background-color: aquamarine; */
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-top: solid 10px transparent;
    border-bottom: solid 10px #fff;
}

/* 下载app框 */
.topbar .services .download-app-content {
    position: absolute;
    left: -60%;
    top: 40px;
    background-color: #fff;
    height: 0px;
    overflow: hidden;
    width: 124px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    z-index: 9999999;
}

/* 下载的二维码过渡展开效果 */
.topbar .services .download-app:hover .download-app-content {
    transition: height 0.3s;
    height: 148px;
}

/* 下载app二维码 */
.topbar .download-app-qrcode {
    display: inline-block;
    height: 148px;
    width: 124px;
    /* background: url(../images/download-app.png) 90px no-repeat center; */
    background-image: url(../images/download-app.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;

}

/* 下载app文字 */
.topbar .download-app-remark {
    position: relative;
    bottom: 30px;
    left: 20px;
    line-height: 1;
}

.topbar .download-app:hover .download-app-content {
    color: #000000;
}



.topbar .services li {
    float: left;
}

/* 购物车容器 */
.topbar .shop-cart {
    float: right;
    margin-left: 25px;
    background-color: #424242;
    text-align: center;
    position: relative;
}

.topbar .shop-cart .cart-title {
    padding: 0 25px;
}

.topbar .shop-cart:hover * {
    color: #ff6700;
}

.topbar .shop-cart:hover > ul {
/* .topbar .shop-cart > ul { */
    color: #ff6700;
    background-color: #fff;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


.topbar .cart-item {
    display: none;
    position: absolute;
    width: 397px;
    height: 100px;
    background-color: #ff6700;
    right: 0;
}

.topbar .fa-cart-shopping {
    color: #b0b0b0;
}

.topbar .shop-cart .cart-item {
    line-height: 100px;
}

/* 用户信息容器 */
.topbar .user-info {
    float: right;
}

.topbar .user-info li {
    float: left;
}
/* ********************************************顶部导航***********************************************8 */

/* 头部外部容器大小 */
.header-wrapper {
    width: 100%;
    height: 100px;
    /* background-color: #bfa; */
    font-size: 16px;
    /* 如果切换页面就不能给他了 */
    /* border-bottom: #dbdbdc 1px solid; */
}

/* 清楚a标签样式 */
.header-wrapper a {
    text-decoration: none;
    color: #333;
}

/* 去除li的默认样式 */
.header-wrapper li {
    list-style-type: none;
}

/* 头部logo所在容器 */
.header-wrapper .header-left, .header-wrapper .header-center {
    float: left;
}

/* 头部logo */
.header-wrapper .logo {
    display: block;
    width: 56px;
    height: 56px;
    background-image: url(../images/logo-mi.png);
    background-size: 56px;
    margin: 22px 0;
    float: left;
}

/* 头部中间内容容器 */
.header-wrapper .header-center li {
    float: left;
    line-height: 100px;
    padding: 0 10px;
}

.header-wrapper .header-center li a {
    display: block;
}

.header-wrapper .header-center li:not(:first-child):hover a {
    color: #ff6700;
}

.header-wrapper .header-center li:first-of-type {
    margin-left: 50px;
}

/* 隐藏第一个内容 */
.header-wrapper .header-center li:first-child {
    visibility: hidden;
}

/* 头部下拉框 */
.header-wrapper .dropdown {
    width: 100%;
    /* background-color: deeppink; */
    position: absolute;
    top: 140px;
    left: 0;
    height: 0px;
    z-index: 999;
}

.header-wrapper .header-center .has-dropdown:hover ~ div:last-of-type, .header-wrapper .dropdown:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border: #dcdbdc 1px solid;
    height: 230px;
    transition: height 0.3s;
}

/* 头部搜索容器 */
.header-wrapper .header-right {
    float: right;
    margin: 22px auto;
}

.header-wrapper .header-right li *{
    float: left;
}

/* 搜索框 */
.header-wrapper .search-input {
    width: 245px;
    height: 50px;
    border: #e0e0e0 solid 1px;
    border-right: transparent;
}

.header-wrapper .search-input:focus {
    border: #ff6700 solid 1px;
    border-right: transparent;
    outline: none;
}

.header-wrapper .search-input:focus + a > .fa-magnifying-glass {
    border: #ff6700 solid 1px;
    border-left: transparent;
}

/* 搜索按钮 */
.header-wrapper .fa-magnifying-glass {
    width: 52px;
    height: 50px;
    border: #e0e0e0 solid 1px;
    border-left: transparent;
    text-align: center;
    line-height: 52px;
    background-color: #fff;
}

/* --------中间内容区-------- */
.home-wrapper {
    height: 460px;
}

.home-top {
    position: relative;
}
/* 左侧导航栏 */
.home-wrapper .home-top li {
    list-style-type: none;
}

.home-wrapper .home-top a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

/* 左侧目录 */
.home-wrapper .category {
    background-color: rgba(63, 61, 61, .7);
    float: left;
    width: 230px;
    height: 460px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
}

.home-wrapper .category li a {
    margin: 0 25px;
}
.home-wrapper .category li:first-of-type {
    margin-top: 20px;
}

.home-wrapper .category li a {
    display: block;
    line-height: 42px;
}

.home-wrapper .category li a i {
    line-height: 42px;
}

.home-wrapper .category li:hover {
    background-color: #ff6700;
}

.home-wrapper .category i {
    float: right;
}

/* 右侧轮播图 */
.home-wrapper .carousel {
    position: relative;
    background-color: #ff6700;
    width: 100%;
    height: 460px;
    float: left;
}

.home-wrapper .carousel img {
    width: 100%;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
}

.home-wrapper .carousel .circle-list {
    position: absolute;
    right: 15px;
    bottom: 25px;
    z-index: 99999;
}

.home-wrapper .carousel .circle {
    display: block;
    width: 5px;
    height: 5px;
    float: left;
    margin-right: 8px;
    border: 2px solid #484b4f;
    border-radius: 5px;
}

.home-wrapper .carousel .circle:hover,
.home-wrapper .carousel .active {
    background-color: #767a81;
}

.home-wrapper .carousel .left, .home-wrapper .carousel .right {
    position: absolute;
    top: 40%;
    z-index: 9999;
}

.home-wrapper .carousel .left a, .home-wrapper .carousel .right a {
    font-size: 30px;
    color: #a3a3a4;
    display: block;
    width: 41px;
    height: 69px;
    line-height: 69px;
    text-align: center;
}

.home-wrapper .carousel .right {
    right: 10px;
}
.home-wrapper .carousel .left {
    left: 240px;
}

.home-wrapper .carousel .left a:hover, .home-wrapper .carousel .right a:hover {
    color: #fff;
    background-color: #22262f;
}

/* ---------中间内容下部分----------- */
.home-wrapper .home-buttom {
    float: left;
    height: 170px;
    width: 100%;
    margin-top: 15px;
}

.home-wrapper .left-service {
    width: 230px;
    background-color: #5f5750;
    height: 100%;
    float: left;
}

.home-wrapper .left-service a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;

    color: #cfccca;
}

.home-wrapper .left-service li {
    display: table;
    list-style-type: none;
    float: left;
    width: 76px;
    height: 82px;
    position: relative;
}

.home-wrapper .left-service i {
    font-size: 20px;
    text-align: center;
    display: block;
}

.home-wrapper .left-service span {
    text-align: center;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.home-wrapper .left-service li::after {
    content: "";
    position: absolute;
    background-color: #665e57;
    height: 50px;
    width: 1px;
    top: 20px;
}

.home-wrapper .left-service li::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    top: 10px;
    left: 15px;
    background-color: #665e57;
}

.home-wrapper  .left-service li:hover a {
    color: #fff;
}

.home-wrapper .right-cart li {
    float: left;
    margin-left: 16px;
    list-style-type: none;
}

.home-wrapper .right-cart li a {
    display: block;
    width: 316px;
    height: 170px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/290270b6fc499fc5fcb653417e99fe91.jpg?w=632&h=340);
    background-size: 100%;
}